body {
  background-image: url("background-image.jpg");
  background-size: cover;
}

.hero > h2 {
  color: #fff;
}

nav > a {
  width: 100px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  color: #fff;
}

nav > a:hover {
  background-color: #f7e4e4;
  color: green;
  border-bottom: 2px solid green;
}