body {
  padding: 0;
  margin: 0;
  background-color: #e4dddd;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.hero > h2 {
  line-height: 30px;
}

.hero > h2 > span {
  color: green;
}

nav {
  display: flex;
  align-items: center;
}

nav > a {
  width: 100px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  color: #000;
}

nav > a:hover {
  background-color: #f7e4e4;
  color: green;
  border-bottom: 2px solid green;
}

main {
  display: grid;
  grid-template-columns: 500px 300px;
  justify-content: center;
}

section {
  text-align: center;
}

section > img {
  width: 60%;
}

section,
aside {
  padding: 50px 0 50px 0;
  background-color: rgba(16, 100, 16, 0.644);
  box-shadow: 5px 10px green;
}

aside > ul {
  margin-top: 130px;
  list-style: none;
}

aside > ul > li {
  margin-top: 10px;
}

aside > p {
  width: 80%;
  margin-left: 40px;
}

.autor {
  font-style: italic;
}

.formacao-info {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 200px 400px 400px;
  gap: 20px;
  justify-content: center;
}

h1 {
  text-align: center;
}

.portifolio {
  display: flex;
  flex-direction: column;
}

.portifolio-card {
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 80px 300px;
  grid-template-rows: 30px 30px 30px 30px;
  gap: 10px;
  justify-content: center;
}